<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net472" />
  <package id="GraphQL" version="4.2.0" targetFramework="net472" />
  <package id="GraphQL.Client" version="3.2.3" targetFramework="net472" />
  <package id="GraphQL.Client.Abstractions" version="3.2.3" targetFramework="net472" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="3.2.3" targetFramework="net472" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="3.2.3" targetFramework="net472" />
  <package id="GraphQL.Primitives" version="3.2.3" targetFramework="net472" />
  <package id="GraphQL-Parser" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>